version: '3'
services:
  nginx:
    image: nginx:latest
    volumes:
      - "./etc/nginx/default.conf:/etc/nginx/conf.d/default.conf"
      - "./web:/var/www/html"
      - "./etc/nginx/default.template.conf:/etc/nginx/conf.d/default.template"
    container_name: nginx
    environment:
    - NGINX_HOST=${NGINX_HOST}
    ports:
    - "80:80"
    links:
      - php
  php:
#    image: php:7.2-fpm
    image: nanoninja/php-fpm
    volumes:
    - "./web:/var/www/html"
    container_name: php
    links:
      - mysql
  myadmin:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin
    ports:
    - "8080:80"
    environment:
    - PMA_ARBITRARY=1
    - PMA_HOST=mysql
    restart: always
    depends_on:
    - mysql
  mysql:
      image: mysql:5.7
      container_name: mysql
      environment:
      - MYSQL_DATABASE=${MYSQL_DATABASE}
      - MYSQL_ROOT_USER=${MYSQL_ROOT_USER}
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
      ports:
      - "3306"
      volumes:
      - "./data/db/mysql:/var/lib/mysql"
  composer:
      container_name: composer
      image: composer
      environment:
      - DATABASE_URL=mysql://root:root@mysql:3306/testDB
      env_file:
        - .myenv
      volumes:
      - "./web:/app"
      command: install